<div class="widget-wrap">
    <div class="widget-download">
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
 <i class="fa fa-question-circle"></i> Help <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Keybind</a></li>
    <li><a href="#">Command</a></li>
    <li><a href="#">Reference</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="https://gitlab.com/syui">GitLab</a></li>
  </ul>
</div>
<div class="btn-group">
<a href="https://gitlab.com/syui">
  <button type="button" class="btn btn-default" aria-haspopup="true" aria-expanded="false"><i class="fa fa-gitlab" aria-hidden="true"></i> GitLab</button>
</a>
</div>
</div>
</div>

