<footer id="footer">
  <div class="outer">
    <div id="footer-info" class="inner">
	<footer id="footer-left">
	    &copy; {{now.Format "2006"}} <a href="https://github.com/syui">syui</a>. <br>
	    {{ with .Site.Params.copyright }}{{ . | markdownify}}{{ end }}
	</footer>
	    <footer id="footer-center"> <a href="#"><span class="icon-phoenix_logo"></span></a>  </footer>
	   <footer id="footer-right"> <a href="">Reference</a> <a href="">Keybind</a> <a href="">Command</a> <a href="">API</a>  </footer>
    </div>
  </div>
</footer>
